* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: auto;
  width: 100%;
}


.container {
  border: 3px solid black;
  background-color: gray;
  height: 100vh;

display: flex;


}

.box{
  display: flex;
align-items: center;
justify-content: space-around;



}




.bloc {

  cursor: pointer;
  border: 1px solid black;
  text-align: center;
  /*margin: 20px;*/
  padding: 20px;
  background-color: yellow;
  height: 150px;
  width: 100px;
}





