* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}


.container {
  height: 100vh;
  background-color: gray;

display: flex;
align-items: center;
justify-content: space-around;


}






.bloc {  
  border: 1px solid black;
  text-align: center;
  /*margin: 20px;*/
  padding: 20px;
  background-color: yellow;
 /* height: 150px;*/
 /* width: 100px;*/


flex-grow: ;






}





